.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 20vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.App-body {
  min-height: 80vh;
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #C8D6CA;
}

.loginContainer {
  display: block;
  margin: 0 auto;
}
.contentContainer{
  width: 100vw;
  height:100%;
  background-color: #C8D6CA;
}
a{
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
