@import '../style/variables';

.root {
  height: 100%;

  .row {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
  }
  
  @import '../style/small-btn.scss';

  .btn-primary {
    box-sizing: content-box;
    width: 100%;
    height: 100px;

    span {
      font-size: 24px;
      font-weight: 100;
      display: inline-block;
      text-align: center;
      line-height: 100px;
      width: 100%;
    }
  }
}

